VITE_BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://user:password@localhost:5432/tanstarter"
# You can also use Docker Compose to set up a local PostgreSQL database:
# docker-compose up -d

# pnpm run auth:secret
BETTER_AUTH_SECRET=

# OAuth2 providers, optional, update as needed
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/github